<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="d-flex flex-grow-1">
      <a href="/" class="navbar-brand">ToDo</a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">My Day</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Completed</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Tasks</a>
          </li>
      </ul>
      <form class="mr-2 my-auto d-inline-block order-1">
          <div class="input-group">
              <input type="text" class="form-control border border-right-0" placeholder="Search...">
              <span class="input-group-append">
                  <button class="btn btn-outline-light border border-left-0" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
      </form>
  </div>
</nav>